@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-orange: hsl(13, 74%, 56%);
  --color-dark-gray: hsl(0, 0%, 8%);
  --color-gray: hsl(0, 0%, 11%);
  --color-light-gray: hsl(0, 0%, 12%);
  --color-mute: hsl(0, 1%, 49%);

  --breakpoint-xs: 450px;
  --breakpoint-md: 780px;

  --font-inter: "Inter", sans-serif;

  --animate-fadeSlideIn: fadeSlideIn 0.5s ease-out forwards;

  @keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(12px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


@layer components {
  /* Navigation */
  .desktop-links {
    @apply hidden items-center justify-center md:flex;
  }

  .mobile-links {
    @apply fixed right-0 top-0 flex h-screen w-full items-center justify-center bg-zinc-900 transition md:hidden;
  }

  .open-nav {
    @apply translate-x-0;
  }

  .close-btn {
    @apply absolute left-4 top-4 cursor-pointer text-orange-500 transition-colors duration-300 md:hidden;
  }

  /* Text Gradients */
  .custom-gradient {
    @apply bg-gradient-to-r from-orange-300 via-amber-400 to-orange-600 bg-clip-text text-transparent;
  }

  .theme-gradient {
    @apply bg-gradient-to-r from-orange-300 via-amber-400 to-orange-600;
  }

  /* Cards & Chips */
  .content_chips {
    @apply cursor-default rounded-full bg-orange-500 px-4 py-1 transition hover:-translate-y-1;
  }

  .container_card {
    @apply space-y-5 rounded-xl border-2 border-orange-500 p-3 text-center transition hover:scale-[1.02];
  }
}