@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* custom colors */
  --color-orange: hsl(13, 74%, 56%);
  --color-dark-gray: hsl(0, 0%, 8%);
  --color-gray: hsl(0, 0%, 11%);
  --color-light-gray: hsl(0, 0%, 12%);
  --color-mute: hsl(0, 1%, 49%);

  /* custom breakpoint */
  --breakpoint-xs: 450px;
  --breakpoint-md: 780px;

  /* custom fonts */
  --font-inter: "Inter", sans-serif;

  /* custom animation */
  --animate-fadeSlideIn: fadeSlideIn 0.5s ease-out forwards;

  /* animation keyframes */
  @keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: "translateY(12px)";
    }

    100% {
      opacity: 1;
      transform: "translateY(0)";
    }
  }
}

@layer components {
  .desktop-links {
    @apply items-center justify-center hidden md:flex;
  }

  .mobile-links {
    @apply fixed right-0 top-0 w-full h-screen bg-zinc-900 flex justify-center items-center transition xs:w-90 md:hidden;
  }

  .open-nav {
    @apply translate-x-0;
  }

  .close-btn {
    @apply text-orange-500 transition-colors cursor-pointer duration-300 md:hidden absolute left-4 top-4;
  }

  .custom-gradient {
    @apply bg-linear-to-r from-orange-300 via-amber-400 to-orange-600 bg-clip-text text-transparent;
  }

  .theme-gradient {
    @apply from-orange-300 via-amber-400 to-orange-600;
  }

  .border-theme-gradient {
    @apply border-l-amber-500 border-t-orange border-b-yellow-500 border-r-amber-500;
  }

  .content_chips {
    @apply bg-orange rounded-full px-4 py-1 cursor-default hover:translate-y-0.75 transition;
  }

  .container_card {
    @apply text-center space-y-5 border-2 border-orange rounded-xl p-3 transition hover:scale-[1.02];
  }
}

@layer base {
  body {
    @apply bg-black text-white font-inter relative;
  }

  * {
    box-sizing: border-box;
  }
}