@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Meddon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer colors {
    :root {
        --color-orange: hsl(13, 74%, 56%);
        --color-dark-gray: hsl(0, 0%, 8%);
        --color-gray: hsl(0, 0%, 11%);
        --color-light-gray: hsl(0, 0%, 12%);
        --color-mute: hsl(0, 1%, 49%);

        --color-white: hsl(0, 0%, 100%);
        --color-black: hsl(0, 0%, 0%);
    }
}

@layer fonts {
    :root {
        --font-dm-sans: "DM Sans", sans-serif;
        --font-poppins: "Poppins", sans-serif;
        --font-meddon: "Meddon", cursive, sans-serif;

        --fontsize-32: calc(32/16 * 1rem);
        --fontsize-30: calc(30/16 * 1rem);
        --fontsize-28: calc(28/16 * 1rem);
        --fontsize-24: calc(24/16 * 1rem);
        --fontsize-22: calc(22/16 * 1rem);
        --fontsize-20: calc(20/16 * 1rem);
        --fontsize-18: calc(18/16 * 1rem);
        --fontsize-16: 1rem;
        --fontsize-14: calc(14/16 * 1rem);
    }

    h1 {
        letter-spacing: -0.75px;
        line-height: 1.4;
    }

    h2 {
        letter-spacing: -0.55px;
        line-height: 1.6;
    }

    h3 {
        letter-spacing: -0.07px;
        line-height: 1.3;
    }

    h1,
    h2,
    h3 {
        font-family: var(--font-dm-sans);
    }

    p {
        font-family: var(--font-poppins);
        line-height: 1.8;
    }
}

@layer layout {
    :root {
        --layout-padding: 1rem;
        --layout-breakout: 5rem;
        --layout-container: calc(1100/16 * 1rem);
    }

    .layout_wrapper {
        display: grid;
        grid-template-columns:
            [grid-fullbleed-start] minmax(var(--layout-padding), 1fr) [grid-breakout-start] minmax(0, var(--layout-breakout)) [grid-content-start] min(100% - var(--layout-padding) * 2, var(--layout-container)) [grid-content-end] minmax(0, var(--layout-breakout)) [grid-breakout-end] minmax(var(--layout-padding), 1fr) [grid-fullbleed-end];
    }

    .layout_wrapper > *,
    .layout_wrapper .layout_container {
        grid-column: grid-content;
    }

    .layout_wrapper .layout_breakout {
        grid-column: grid-breakout;
    }

    .layout_wrapper .layout_fullbleed {
        grid-column: grid-fullbleed;
    }

    .layout_container > :not(.layout_breakout, .layout_fullbleed),
    .layout_fullbleed > :not(.layout_breakout, .layout_fullbleed) {
        grid-column: grid-content;
    }

    .layout_container .layout_breakout {
        grid-column: grid-breakout;
    }

    .layout_container .layout_fullbleed {
        grid-column: grid-fullbleed;
    }
}

@layer global {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        max-width: 100%;
        min-height: 100vh;

        background-color: var(--color-dark-gray);
        color: var(--color-white);
        transition: .5s all ease;
        position: relative;
    }

    a,
    p {
        font-weight: 500;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    svg {
        object-fit: contain;
    }
}

@layer scrollbar {
    body::-webkit-scrollbar {
        width: 7px;
    }

    body::-webkit-scrollbar-thumb {
        background: var(--color-gray);
        border-radius: 20px;
    }

    body::-webkit-scrollbar-track {
        background: var(--color-mute);
        border-radius: 20px;
    }

    body::-webkit-scrollbar-thumb:hover,
    body::-webkit-scrollbar-thumb:active {
        background: var(--color-dark-gray);
    }
}